

.content-div{margin-bottom: 1%;margin-left: 5%;margin-top: 10%}
.width-100{width: 100%}
.font-size-20{font-size: 20px}
.input-layout{ width: 75%;height: 40px; margin-top: 1%;margin-bottom: 1% }
.input-layout-textarea{margin-top: 1%;margin-bottom: 1%}
.btn-default{ 
    border: 1px solid #E8E8E8; 
    padding: 1%;
    margin-bottom: 2%;
}
.button-continue-reading{
    border-radius: 4px;
    background-color: #1FA67A;
    height: 29px
}
.button-margin-69{margin-left: 69%}
.color-black{color: black}
.button-continue-reading{
    border-radius: 4px;
    background-color: #1FA67A;
    height: 29px
}